.dashboard-selection {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;

  .select-option {
    cursor: pointer;
    text-align: center;
    padding: 0.8rem 0.4rem;
    border-radius: 8px;
    background-color: #f8f9fa;
    border: 1px solid transparent;
    transition: all 0.2s;
    font-size: 0.85rem;

    &:hover {
      background-color: #e9ecef;
    }

    &.selected {
      background-color: #714b67;
      color: white;
      border-color: #714b67;
    }

    img {
      display: block;
      margin: 0 auto 5px;
    }
  }
}